.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.cover-photo img {
  width: 100%;
}
.cover-photo button {
  position: absolute;
  right: 4%;
  top: 52%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  gap: 10%;
  width: 5%;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
.cover-photo button img {
  width: 20%;
}
.cover-photo p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #ffff;
}
.profile-pic {
  margin-top: 4%;
}
.ellipse {
  width: 170px;
  height: 170px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(7px);
  top: 20%;
  bottom: 0;
  margin: auto;
  position: absolute;
  left: 20%;
  right: 0;
  z-index: 0;
  border-radius: 50%;
  text-align: center;
}
