.topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 82%;
  position: absolute;
  border-radius: 0px;
  background-color: #ffff;
  left: 18%;
}
.search-engine {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 40px;
}
.search-engine input {
  border: none;
  margin: 15px 15px;
  padding: 10px 10px;
}
.right-side {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10%;
}
.notifications {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15%;
}
.profile-name {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12%;
}
.profile-name p {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #212b36;
}
.profile {
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30%;
}
